## NOTE: .gitignore asi in subdirectories to better track
## files to be ignored at lower directory levels
*~
#*
*.swp
*.swo

work
autom4te.cache
config.log
config.status

#### ignore files that have '.in' processed by configure 
subst
summary
Makefile
pnp4nagios.fc

# ignore package/distribution files
pnp4nagios*.rpm
pnp4nagios*.tgz
pnp4nagios*.tar.gz
pnp4nagios*.zip
