<html>
<head><title>PNP Template Repository</title</head>
<body>
<h2>
====== PNP Template Repository ======
</h2>

The place to share your PNP Templates.
<br>
<table>
<tr><th>PNP Version<th>Template Name<th>Comment
<tr><th>0.6.x<td><a href="integer.php">integer</a><td> Generic Template used for integer values   
<tr><th>0.6.x<td><a href="check_apachestatus.php">check_apachestatus</a><td> Used with check_apachestatus.pl 
<tr><th>0.6.x<td><a href="check_mk-df.php">check_mk-df</a><td> Used with check_mk 
<tr><th>0.6.x<td><a href="check_mk-cpu.loads.php">check_mk-cpu.loads</a<td> Used with check_mk 
<tr><th>0.6.x<td><a href="check_http.php">check_http</a<td> Used with check_http 
<tr><th>0.6.x<td><a href="check_cpu.php">check_cpu</a><td> Used with check_cpu 
<tr><th>0.6.x<td><a href="check_oracle_health_tablespace-usage.php">check_oracle_health_tablespace-usage</a><td> Used with check_oracle_health 
<tr><th>0.6.5<td><a href="alerter.php">alerter</a><td> Example for rrd::alerter function 
<tr><th>0.6.5<td><a href="ticker.php">ticker</a><td> Example for rrd::ticker function 
<tr><th>0.6.5<td><a href="gradient.php">gradient</a><td> Example for rrd::gradient function 
<tr><th>0.6.x<td><a href="check_wlsagent.php"check_wlsagent</a><td> Used with check_wlsagent 
</table>
</body>
</html>
