<html>
<head><title>PNP Template Repository</title></head>
<body>
<h2>
====== PNP Template Repository ======
</h2>

The place to share your PNP Templates.
<br>
<table>
<tr><th>PNP Version<th>Template Name<th>Comment
<tr><th>0.6.x<td><a href="integer.html">integer</a><td> Generic Template used for integer values   
<tr><th>0.6.x<td><a href="check_apachestatus.html">check_apachestatus</a><td> Used with check_apachestatus.pl 
<tr><th>0.6.x<td><a href="check_mk-df.html">check_mk-df</a><td> Used with check_mk 
<tr><th>0.6.x<td><a href="check_mk-cpu.loads.html">check_mk-cpu.loads</a<td> Used with check_mk 
<tr><th>0.6.x<td><a href="check_http.html">check_http</a<td> Used with check_http 
<tr><th>0.6.x<td><a href="check_cpu.html">check_cpu</a><td> Used with check_cpu 
<tr><th>0.6.x<td><a href="check_oracle_health_tablespace-usage.html">check_oracle_health_tablespace-usage</a><td> Used with check_oracle_health 
<tr><th>0.6.5<td><a href="alerter.html">alerter</a><td> Example for rrd::alerter function 
<tr><th>0.6.5<td><a href="ticker.html">ticker</a><td> Example for rrd::ticker function 
<tr><th>0.6.5<td><a href="gradient1.html">gradient</a><td> Example for rrd::gradient function 
<tr><th>0.6.x<td><a href="check_wlsagent.html"check_wlsagent</a><td> Used with check_wlsagent 
</table>
</body>
</html>
